*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 100%;
    height: 100%;
    margin: 0; /* Space from this element (entire page) and others*/
    padding: 0; /*space from content and border*/
    border: solid #87cac3;
    border-width: 10px;
    overflow:auto;
    display:block;
    box-sizing:border-box;
    /* background-image: url('car-purple.jpg'); */
}

nav{
    background-color: #87cac3;
}

.radio{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.radio__input{
    display: none;
}

.radio__radio{
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #87cac3;
    border-radius: 50%;
    margin-left: 10px;
    box-sizing: border-box;
    padding: 2px;
    padding-bottom: 2px;
}

.radio__radio::after{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: #87cac3;
    border-radius: 50%;

    transform: scale(0);
    transition: transform 0.15s;
}

.radio__input:checked + .radio__radio::after{
    transform: scale(1)
}

.container{
    padding-top: 50px;
    text-align: center;
}

hr{
    color: #87cac3;
    background-color: #87cac3;
}